.preview a.label.blocked {
  color: hsl(349, 69%, 46%);
}

.preview a.label.low_cost {
  color: hsl(148, 69%, 46%);
}

.preview a.label.high_cost {
  color: hsl(314, 69%, 46%);
}
.preview a.label.medium_cost {
  color: hsl(200, 69%, 46%);
}

.preview a.label.build {
  color: hsl(35, 100%, 50%);
}

.labels_maker .selected.labels li a.label.blocked,
.labels_maker .selected.labels li a.label.blocked + a.remove {
  background-color: hsl(349, 69%, 46%);
}

.labels_maker .selected.labels li a.label.blocked:hover,
.labels_maker .selected.labels li a.label.blocked + a.remove:hover {
  background-color: hsl(349, 69%, 32%);
}


.labels_maker .selected.labels li a.label.low_cost,
.labels_maker .selected.labels li a.label.low_cost + a.remove {
  background-color: hsl(148, 69%, 46%);
}

.labels_maker .selected.labels li a.label.low_cost:hover,
.labels_maker .selected.labels li a.label.low_cost + a.remove:hover {
  background-color: hsl(148, 69%, 32%);
}

.labels_maker .selected.labels li a.label.high_cost,
.labels_maker .selected.labels li a.label.high_cost + a.remove {
  background-color: hsl(314, 69%, 46%);
}

.labels_maker .selected.labels li a.label.high_cost:hover,
.labels_maker .selected.labels li a.label.high_cost + a.remove:hover {
  background-color: hsl(314, 69%, 32%);
}


.labels_maker .selected.labels li a.label.medium_cost,
.labels_maker .selected.labels li a.label.medium_cost + a.remove {
  background-color: hsl(200, 69%, 46%);
}

.labels_maker .selected.labels li a.label.medium_cost:hover,
.labels_maker .selected.labels li a.label.medium_cost + a.remove:hover {
  background-color: hsl(200, 69%, 32%);
}


.labels_maker .selected.labels li a.label.build,
.labels_maker .selected.labels li a.label.build + a.remove {
  background-color: hsl(35, 69%, 46%);
}

.labels_maker .selected.labels li a.label.build:hover,
.labels_maker .selected.labels li a.label.build + a.remove:hover {
  background-color: hsl(35, 69%, 32%);
}
